<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Procurement</a>
    </div>
    <ul class="nav navbar-nav">
	<li><a href="#">Mail</a></li>
      <li class="active"><a href="#">Upload Sheet</a></li>
      <li><a href="#">New Vendor</a></li>

    
    </ul>
  </div>
</nav>
<form role="form" action="{%url 'pandp/upload.py' %}" method="post" enctype="multipart/form-data">{% csrf_token %}

 <div class="container">
 <div class="btn-group">
  <h4>File: </h4><input class="form-control" type="file" name="myfiles" multiple/>
   <input class="btn btn-primary" type="submit" name="upload" value="Upload"/>
   </div>
</div>

<br>

<br>

	  
</body>
</html>



